<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WeatherAPI.Properties.Settings>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="uv" serializeAs="String">
                <value />
            </setting>
            <setting name="humidity" serializeAs="String">
                <value />
            </setting>
            <setting name="windspeed" serializeAs="String">
                <value />
            </setting>
            <setting name="returnhome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="temp" serializeAs="String">
                <value />
            </setting>
            <setting name="CONFIG_TEMPERATURE" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="CONFIG_SPEED" serializeAs="String">
                <value>mph</value>
            </setting>
            <setting name="CONFIG_DISTANCE" serializeAs="String">
                <value>miles</value>
            </setting>
            <setting name="windspeedmph" serializeAs="String">
                <value />
            </setting>
            <setting name="visibilitymiles" serializeAs="String">
                <value />
            </setting>
            <setting name="visibility" serializeAs="String">
                <value />
            </setting>
            <setting name="alwaysontop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="locktotaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="leftorright" serializeAs="String">
                <value>right</value>
            </setting>
            <setting name="CONFIG_SOUND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONFIG_SEARCH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONFIG_STATS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONFIG_VOL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CONFIG_SE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONFIG_SIT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clouds" serializeAs="String">
                <value />
            </setting>
            <setting name="sunrise" serializeAs="String">
                <value />
            </setting>
            <setting name="sunset" serializeAs="String">
                <value />
            </setting>
            <setting name="moonrise" serializeAs="String">
                <value />
            </setting>
            <setting name="moonset" serializeAs="String">
                <value />
            </setting>
            <setting name="moonphase" serializeAs="String">
                <value />
            </setting>
            <setting name="currentcity" serializeAs="String">
                <value />
            </setting>
            <setting name="weatherpng" serializeAs="String">
                <value />
            </setting>
            <setting name="isday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="register_pd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="register_page" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="register_p" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pastloginsaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login_email" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="past_logindate" serializeAs="String">
                <value />
            </setting>
            <setting name="register_fullname" serializeAs="String">
                <value />
            </setting>
            <setting name="register_handle" serializeAs="String">
                <value />
            </setting>
            <setting name="register_email" serializeAs="String">
                <value />
            </setting>
            <setting name="register_pass" serializeAs="String">
                <value />
            </setting>
        </WeatherAPI.Properties.Settings>
    </userSettings>
</configuration>